<div class="">
    <p></p><h2>Private policy</h2>
    
    <div class="text"><small>Effective Date: March, 10, 2024</small></div>
    <div class="pt-2">
        <div class="text lead text-bold mt-3 mb-2">
            Introduction
        </div>    
        <div class="text text-default">
            Welcome to the <b>Point-n-Call</b> app! This privacy policy explains how we handle user data, including what information we collect, why we collect it, and how users can control their data. Please read this policy carefully.
        </div>
    </div>
    
    <div class="pt-2">
        <div class="text lead text-bold mt-3 mb-2">
            Data Collection
        </div>    
        <div class="text text-default">
            Our app <b>does not</b> collect any personal information from users. We respect your privacy and are committed to providing a safe experience for all ages.
        </div>
    </div>
    
    <div class="pt-2">
        <div class="text lead text-bold mt-3 mb-2">
            Users designated
        </div>    
        <div class="text text-default">
            Our app is designated and safe for all ages.
        </div>
    </div>
    
    <div class="pt-2">
        <div class="text lead text-bold mt-3 mb-2">
            User Control
        </div>    
        <div class="text text-default">
            You can use our app without creating an account or providing any personal information.
        </div>
    </div>
    
    <div class="pt-2">
        <div class="text lead text-bold mt-3 mb-2">
            Updates
        </div>    
        <div class="text text-default">
            We may update this privacy policy as needed. Any changes will be reflected here, and we recommend checking this page periodically.
        </div>
    </div>
    
    <div class="pt-2">
        <div class="text lead text-bold mt-3 mb-2">
            Contact Us
        </div>    
        <div class="text text-default">
            If you have any questions or need further clarification, please reach out to us at modernui.app&H64gmail.com.
        </div>
    </div>
    </div>
