<div class="container">
  <div class="jumbotron bg-secondary text-white">
    <h1 class="">Solutions  </h1>
    <p class="my-2">Expertise and solutions</p>
  </div>
  <!-- <div class="well my-2">
  <h1 class="bg-secondary text-white p-4">Solutions</h1>
  <p>Expertise and solutions</p>
  </div> -->
  <span class="text fw-bold fs-3">Total: {{ this.topiccount }}</span> 
  <div class="row my-4 py-2 fs-3" *ngFor="let topic of topics$">
    <div class="col-sm-4">
    <h3 class="p-4 bg-secondary text-white">
      {{ topic.Topic }}  
      <br> <span class="fs-5">{{ topic.DateUpdated | date }}</span>
    </h3>
    <div class="text px-4 fs-4">
      <!-- {{ topic.DateUpdated | date }} -->
      <!-- [{{ topic.Author? topic.Author : "HSharp"}}] -->
    </div>
    </div>
    <div class="text text-default col-sm-8">
      <div [innerHTML]="topic.TopicBody"></div>
      <div class="my-3" *ngIf="topic.HasDetail">
        <a class="item-link btn btn-primary fs-4" href="/Product/{{topic.TopicID}}">More</a>
      </div>
    </div>
    <p></p>    
    <hr/>
  </div>
</div>