<div class="container">
  <div class="well my-4">
  <h1 class="bg-secondary text-white p-4">Solutions  </h1>
  </div>
  <span class="text fw-bold">Total - {{ this.topiccount }}</span> 

  <div class="row my-4" *ngFor="let topic of topics$">
    <div class="col-sm-4">
    <h3 class="bg-secondary text-white p-3">
      {{ topic.Topic }}
    </h3>
    <div class="text text-secondary">
      {{ topic.DateUpdated | date }} 
      <!-- [{{ topic.Author? topic.Author : "HSharp"}}] -->
    </div>
    </div>
    <div class="text text-default col-sm-8">
      <div [innerHTML]="topic.TopicBody"></div>
      <div class="my-3" *ngIf="topic.HasDetail">
        <a class="item-link btn btn-primary" href="/Product/{{topic.TopicID}}">More</a>
      </div>
    </div>
    <p></p>    
    <hr/>
  </div>
</div>