
<div class="container-fluid">
  <div class="jumbotron bg-secondary text-white">
    <h1 class="">Details</h1>
    <p class="my-2">details and features</p>
  </div>
  <div class="row my-4" *ngFor="let chunk of topics$ | chunk: 2">
    <div class="col" *ngFor="let topic of chunk">
      <div class="bg-secondary text-white p-3 fs-3">
        <span class="text fw-bold fs-2 pb-2 d-block">
          {{ topic.Title }}
        </span>
        <div class="text text-hidden">
          {{ topic.DateUpdated | date }} 
        </div>
      </div>
      <div class="text text-default my-4">
        <div class="d-flex my-2"><span [innerHTML]="topic.Content"></span> <img *ngIf="topic.ContentImages.length == 1" class="rounded mx-2" src={{topic.ContentImages[0]}} width="200"></div>
        <div class="d-inline-block" *ngFor="let image of topic.ContentImages"><img *ngIf="topic.ContentImages.length > 1" class="rounded m-1" src={{image}} width="200"></div>
      </div>
    </div>
      <hr/>
  </div>
</div>