<div class="container">
  <div class="well mt-4 mb-4">
  <h1 class="bg-secondary text-white p-3">Services</h1>
  </div>
  <div class="container row mt-4 mb-4" *ngFor="let topic of topics$">
    <div class="col-sm-4">
    <h2>
      {{ topic.Topic }}
    </h2>
    <div class="text text-danger">
      {{ topic.DateUpdated }} 
      [{{ topic.Author? topic.Author : "Viewcrossing"}}]
    </div>
    </div>
    <div class="text text-default col-sm-8 mt-2">
      <div [innerHTML]="topic.TopicBody"></div>
      <div *ngIf="hasDetail(topic.TopicID)">
      <!-- <a class='item-link btn btn-primary mt-3' [routerLink]='["/Product", topic.Topic]'>More</a> -->
      </div>
    </div>
    <p></p>    
    <hr/>
  </div>
</div>