
<div class="container">
  <div class="well mt-4 mb-4">
  <h1 class="bg-secondary text-white p-3">Service details</h1>
  </div>
  <div class="container mt-4 mb-4" *ngFor="let topic of topics$">
    <div class="row">
    <div class="col-lg-4">
    <h4>
      {{ topic.Topic }}
    </h4>
    <div class="text text-hidden">
      <!-- {{ topic.DateUpdated | date }}  -->
      [{{ topic.Author? topic.Author : "Viewcrossing"}}]
    </div>
    </div>
    <div class="text text-default col-lg-8 mt-2">
      <div [innerHTML]="topic.TopicBody"></div>
      <div *ngFor="let image of topic.Images" style="display: inline;"><img class="img-thumbnail rounded" src={{image}} width="200"></div>
    </div>
  </div>
    <hr/>
  </div>
</div>